body {
	max-width: 960px;
	margin: auto;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h1, h2, body > p {
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
}

a, a:visited {
	color: slateblue;
}

.loremipsum {
	text-align: justify;
	font-style: italic;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	color: slategray;
	border-left: thick solid slateblue;
	margin-left: 30px;
	margin-right: 30px;
}

.loremipsum p {
	margin-left: 1em;
	margin-right: 2vw;
}

.map-container {
	/* Make maps almost screen height to make scroll capture more likely */
	height: 85vh;
	margin-left: 30px;
	margin-right: 30px;
}

@media screen and (max-width:480px) {
	/* Dark mode for small screens to make it obvious when mobile detection has kicked in */
	body {
		background-color: rgb(25, 42, 42);
		color: ivory;
	}

	a, a:visited {
		color: lightskyblue;
	}

	.loremipsum {
		color: lightslategray;
	}

	/* Full-width maps to illustrate how difficult maps can be to scroll away from */
	.map-container {
		margin: 0;
	}
}
